
@font-face
{
    font-family: 'neon';
    src: url('polices/neon.ttf');
}
@font-face
{
    font-family: 'rust';
    src: url('polices/armyrust.ttf');
}
@font-face
{
    font-family: 'conthrax';
    src: url('polices/conthrax.ttf');
}
@font-face
{
    font-family: 'marker';
    src: url('polices/permanentmarker.ttf');
}
@font-face
{
    font-family: 'campus';
    src: url('polices/campus.ttf');
}
@font-face
{
    font-family: 'blessed';
    src: url('polices/blessed.ttf');
}











/*---------------- BLOCS --------------------*/

body{
	background-image: url("images/darkCity.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}
.accordion{
	background-color: transparent;
	background-image: url("images/texture.png");
  	color: red;
  	font-family: 'conthrax';
  	font-size: 2vw;
  	cursor: pointer;
  	width: 90%;
  	text-align: center;
  	margin: 30px;
  	margin-left: auto;
  	margin-right: auto;
  	border: 1px solid #661b5d;
  	border-radius: 60px;
  	outline: none;
  	transition: 2s;
}
.fondCarteMix{
	height: 420px;
	width: 68%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin:auto;
	overflow: hidden;
	padding: 20px;
	border:1px solid grey;
	border-radius: 10px;
	animation: fadein 5s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */
			}
			@keyframes fadein {
    			from {
        			opacity:0;;
    			}
    			to {
        			opacity:1;
   			}
			}
			@-moz-keyframes fadein { /* sur Firefox */
    			from {
        			opacity:0;
    			}
    			to {
        			opacity:1;
    			}
			}mklnih
    			from {
        			opacity:0;
    			}
    			to {
        			opacity:1;
    			}
			}
			@-o-keyframes fadein { /* sur Opera */
    			from {
        			opacity:0;
    			}
    			to {
        			opacity: 1;
    			}
			}
.blocCarteMix{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		height: 400px;
}
nav{
	overflow-y:scroll;
	background-color: transparent;
	width:100%;
	height: 75%;
	margin: auto;
	margin-top: 50px;
	align-items: center;
}		
scroll-container{
	width:80%;
	height: 400px;
	overflow: hidden;
}
scroll-page{
	height: 400px;
	width: 100%;
}
.carteDuMix {
	background-image: url("images/texture.png");
	text-align: center;
	width: 80%;
	height: 400px;
	overflow:hidden;
}

  	









/* --------------- ELEMENTS --------------------*/

.bouton{
		width: 40%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50vh;
		transform: translateY(-10%);
	}
#typo{
	background-image: url("images/mercsTypoOr.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 23%;
	width:100%;
	height: 70px;
	margin-top: 8vh;
	transform:translateY(-2%);
}
#sound{
	font-family: 'conthrax';
	color:black;
	font-size:3vh;
}
	iframe{
		width:100%;
		margin:auto;
		margin-top: 0;
		border: none;
	}
	.cover{
		width: 70%;
		background-size: 101%;
		background-repeat:no-repeat;
		margin-top: 6vh;
		margin-right: 2vh;
	}
	h1{
		color:red;
		background-color: black;
		font-family: conthrax;
		font-size:4vh;
		margin-top: 0;
	}
	.boiteTracklist{
		height: 140px;
		width:98%;
		margin-top: -20px;
		margin-bottom: 5px;
		margin: auto;
		overflow-y: scroll;								
	}
	table{
		height: 250px;
		width: 100%;
		border-collapse: separate;
		border-spacing: 1vh;
	}
	td{
		min-height: 50px;
		text-align: center;
	}
	/* ******************************    COVERS & TITRES   ************************************  */
	#demtimedeh{
		background-image: url("images/mixcovers/dtdhs.png");
		margin-top: 0%;
	}
	#elastik{
		background-image:url("images/mixcovers/efu.png");
		margin-top: 0%;
	}
	#blackjack{
		background-image:url("images/mixcovers/blackjack.jpg");
		margin-top: 0%;
	}
	#stench{
		background-image:url("images/mixcovers/stench.jpg");
		margin-top: 0%;
	}
	#stench2{
		background-image:url("images/mixcovers/stench.jpg");
		margin-top: 0%;
	}
	#monkey{
		background-image: url("images/mixcovers/mbs.png");
		margin-top: 0%;
	}
	#hitSquad{
		background-image:url("images/mixcovers/hitsquad.png");
		background-size: 93%;
		margin-top: 0%;
	}
	#fondHitSquad{
		background-image: url("images/camouflage.jpg");
		background-size: 50%;
		height: 100%;
	}
	.titreHitSquad{
		background-image: url("images/logoHitSquad.png");
		background-size: 100%;
		background-repeat: no-repeat;
		width:60%;
		margin:auto;
		height: 17vh;
	}
	#mariah{
		background-image:url("images/mixcovers/mariah.jpg");
		margin-top: 0%;
	}
	#fondMariah{
		background-image: url("images/fondMariah.jpg");
		height: 100%;
		width:100%;
	}
	#titreMariah{
		background-image: url("images/titreMariah.png");
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 5px;
		height: 80px;
		background-size: 90%;	
	}
	#homeboy1{
		background-image:url("images/mixcovers/homeboysDen.jpg");
		margin-top: 0%;
	}
	.titreHomeboy{
		height: 10vh;
		background-image: url("images/titreHomeboy.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size:90%;
	}
	#funkyByNature{
		background-image: url("images/fbn.png");
		margin-top: 0%;
	}
	.titreFunky{
		background-image: url("images/titreFunky.png");
		height: 25vh;
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
	}













	/* ------------------------------------  MODIFICATEURS  ------------------------------*/

	#accueil{
		background-image: url("images/darkCity.jpg");
		margin-top:0;
		background-size: 25%;
		background-color: black;
		background-position: center;
	}
	.panel {
  		display: none;
  		overflow: hidden;
  	}
	.enColonne{
		display:flex;
		flex-direction:column;
		justify-content: flex-start;
	}
	.enLigne{
		display:flex;
		flex-direction: row;
	}
	.jauneSpecial{
		color:#bd8204;
	}
					/* Permet de laisser les accordéons fermés par défaut*/
  	ul{
		list-style: none;
	}
	.reggae{
		background-image: url(images/fondReggae.png);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.marginReggaeCover{
		margin-right: 6vh;
		margin-top: 7vh;
	}
	.reggaeTracklist{
		font-family: 'conthrax';
		font-size: 3vh;
		color:white;
		text-align: start;
		margin-left:5px;
		height: 80%;
	}
	.nomArtiste{
		font-size:2vw;
		color:red;
	}
	.nomArtisteAlt{
		color:#bd8204;
		font-size:2vw;
	}
	.reggaeTime{
		color:red;
		text-align: start;
		margin:auto;
	}
	.hiphop
	{
		background-image: url("images/grafToits.jpg");
	}
	.hitSquad{
		font-family: 'marker';
		color:#d6d5d2;
		font-size: 3vh;
		line-height: 20px;
	}
	.timeHitSquad{
		font-family: 'impact';
		font-size: 3vh;
		color:white;
	}
	.altTracklistSquad{
		font-family:'marker';
		color:red;
		font-size: 4vh;
	}
	.mariah{
		text-align: center;
		color: maroon;
		font-family: 'blessed';
		font-size: 4vh;
	}
	.ftMariah{
		font-family: 'marker';
		color: maroon;
	}
	.timeMariah{
		font-family: neon;
		color:red;
	}
	.homeboy{
		font-family: 'rust';
		color:white;
		font-size: 4vh;
	}
	.altTracklistHomeboy{
		font-family: campus;
		font-size:4vh;
		line-height: 2px;
		color:grey;
	}
	.funk{
		background-image: url("images/funkSunsetBis.png");
		background-size: 100%;
		margin: auto;
		justify-content: center;
		background-repeat:no-repeat;
		height:430px;
		margin-bottom: 20px;
	}
	.nomArtisteFunk{
		font-size: 2vw;
	}
	.funkyByNature{
		color:white;
		font-family:neon;
		font-size:3vh;
	}





















































/**********************************  RESPONSIVE  ***************************************************/
	@media(max-width: 490px)
	{
/* **********  BLOCS  ********* */
	body{
		width: 90%;
		min-height: 100%;
		max-height: 100%;
		margin:auto;
		background-image:url("images/darkCityAlt.jpg");
		background-size: cover;
	}
	.accordion{
		color: #bd8204;
		font-size:8vw;	
	}
	nav{
		display: flex;
		flex-direction: column;
		height: 200px;
		width: 100%;
		margin:auto;
	}
	.blocCarteMix{
		display:flex;
		flex-direction: row;
		height: 100%;
	}
	.carteDuMix{
		height: 430px;
		width: 100%;
		margin-top:0;
		overflow: hidden;
	}
	.boiteTracklist{
		height: 160px;
	}
	scroll-page{
		height: 1000px;
		width:95%;
	}
	scroll-container{
		width: 100%;
		height: 430px;
	}















/***********************  ELEMENTS  *************************************/
	#accueil{
		background-image: url("images/accueilfond.jpg");
		margin: auto;
		background-size: 100%;
		background-color: black;
		background-position: center;
	}

	#typo{
		background-image: url("images/typomercs.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		width:100%;
		height: 70px;
		margin-top: 8vh;
		transform:translateY(-2%);
}
	#sound{
		font-family: 'conthrax';
		color:black;
		font-size:3vh;
}
	.bouton{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 62vh;
		transform: translateY(-38%);
	}
	.fondCarteMix{
		width:98%;
		justify-content: space-around;
		padding: 0px;
		height: 420px;
	}
	h1{
		font-size:2vh;
	}
	.cover{
		height: 0px;
		width: 0%;
		background-image: none;
	}
	.annee{
		width: 90%;
	}
	.categorie{
		width: 90%;
	}
	iframe{
		width:95%;
	}
	#titreMariah{
		background-size: 95%;
	}
	.mariah{
		font-size:3vh;
	}
	.titreFunky{
		height: 15vh;
		background-size: 80%;
	}












/**********************  MODIFICATEURS  ************************************/
	.reggae{
		padding-top:10px;
		background-size: cover;
	}
	#page-1, #page-2, #page-3, #page-4, #page-5, #page-6, #page-7, #page-01, #page-02, #page-03, #page-04, #page-001 {
		display:flex;
		flex-direction: column;
	}
	.reggaeTracklist{
		height:55%;
		overflow-y: scroll;
		font-size:4vw;
		margin-top: -30px;
		line-height: 15px;
	}
	.nomArtiste, .nomArtisteAlt{
		font-size: 4vw;
	}
	#demtimedeh{
		background-image: none;
	}
	#elastik{
		background-image: none;
	}
	#blackjack{
		background-image: none;
	}
	.titreHitSquad{
		width:80%;
		height: 14vh;
	}
	.funk{
		background-size: cover;
	}
	.carteFunky{
		width:100%;
		height:430px;
	}
	.nomArtisteFunk{
		font-size: 7vw;
	}

	




	



	
	
		
	
		
		
			
